@{
    ViewData["Title"] = "Department Index";
}

<h1>Department Index</h1>

<p>
    <a asp-action="GetSubDept">View Sub Departments</a>
</p>
<p>
    <a asp-action="GetParDept">View Parent Departments</a>
</p>
